@font-face {
    font-family: "Londrina Solid Light";
    src: url("LondrinaSolid-Light.ttf");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Londrina Solid Regular";
    src: url("LondrinaSolid-Regular.ttf");
    font-display: swap;
  }
  