@font-face {
  font-family: "Londrina Solid Light";
  src: url("LondrinaSolid-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Londrina Solid Regular";
  src: url("LondrinaSolid-Regular.ttf");
  font-display: swap;
}

html {
  font-size: 6px;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Londrina Solid Regular', cursive;
  box-sizing: border-box;
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}
#header{
  padding: 2.5rem;
  font-size: 3rem;
  color: white;
  background-color:rgb(0, 80, 128);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#site-name {
  margin-left: 1rem;
}
#logo {
  display: block;
  background-image: url("BDT\ Transparent.webp");
  background-size: cover;
  width: 20.5rem;
  height: 8rem;
  cursor: pointer;
}

#navbar{
  padding: 6em;
  background-color: rgb(0, 105, 168);
  position: relative;
}

.nav-item{
  background-color: rgb(0, 118, 192);
  color: white;
  width: calc(100vw - 3rem);
  margin: 1.5rem;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  font-size: 3.5em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.24);
}
.nav-item svg {
  width: 4.5rem;
}
.dropdown {
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  animation: unfurl ease-in .5s;

}
.dropdown > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
}
.dropdown > div:hover {
  background-color: rgb(65, 160, 219);
}
.hide {
  display: none;
}
#main {

  display: flex;
  flex-direction: column;
  padding: 1em;
}

.btn {
  background-color: white;
  margin: 2rem;
  padding: 2rem;
  font-size: 3.8rem;
  font-family: 'Londrina Solid Light', cursive;
  border-radius: .5rem;
  border: 3px solid rgba(108, 108, 108, 0.239);
  box-shadow: 2px 2px 3px rgba(0,0,0, .1);
  transition: all .1s;


}
.btn:hover{
  box-shadow: 0px 2px 3px rgba(0,0,0, .3);
  cursor: pointer;
}
.btn:active{
  box-shadow: inset 2px 2px 3px rgba(0,0,0,.3)
}

#footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  padding: .5em;
  font-size: 5rem;
  bottom: 0;
  right: 0;

}
#footer div {
  margin: .5rem;
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
}
#footer svg {
  width: 6.25rem;
}

#shuffle{
  background-color: forestgreen;
}
#info {
  background-color: rgb(0, 159, 255)
}

.info-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.24);
  display: none;
  justify-content: center;
  align-items: center;
}
#info-box {
  position: relative;
  background-color: white;
  max-width: 80%;
  padding: 3rem;
  font-size: 2.8rem;
  font-weight: 300;
  animation: slideFromLeft ease-out .6s;
}
#info-header{
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#info-header svg {
  width: 4rem;
  cursor: pointer;
}
#bdt-icons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#bdt-icons svg{
  width: 5rem;
}

.show-info {
  display:flex;
}

p {
  text-indent: 10%;
  padding-bottom: .5rem;
  max-width: 500px;
}

@keyframes unfurl {
  from {
    clip-path: inset(0 0 85% 0)
  }
  to {
    clip-path: inset(0 0 0 0)
  }
 }
 @keyframes slideFromLeft {
  0% {left: -100%}
  90%{left: 2%}
  100%{left: 0}
 }

@media (min-width: 800px) {
  html {
    font-size: 12px;
  }
  #header {
    padding: 1rem 1.5rem;
  } 
  #navbar {
    padding: 3.5rem;
  }
  .nav-item {
    width: 50%;
    font-size: 2rem;
    padding: .75rem 1.5rem
  }
  .nav-item svg {
    width: 2rem;
  }
  #main {
    align-items: center;
  }
  .btn {
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
  }
  #footer svg {
    width: 4rem;
  }
  #info-box {
    font-size: 2rem;
  }
}