
html, body{
  font-size: 6px;
  height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Londrina Solid Regular', cursive;
  box-sizing: border-box;
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}
#header{
  padding: 2.5rem;
  font-size: 3rem;
  color: white;
  background-color:rgb(0, 80, 128);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#site-name {
  margin-left: 1rem;
}
#logo {
  display: block;
  background-image: url("BDT\ Transparent.webp");
  background-size: cover;
  width: 20.5rem;
  height: 8rem;
  cursor: pointer;
}

#navbar{
  padding: 6em;
  background-color: rgb(0, 105, 168);
  position: relative;
  width: 100vw;
}

.nav-item{
  background-color: rgb(0, 118, 192);
  color: white;
  width: calc(100vw - 3rem);
  margin: 1.5rem;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  font-size: 3.5em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.24);
}
.nav-item svg {
  width: 4.5rem;
}
.dropdown {
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  animation: unfurl ease-in .5s;

}
.dropdown > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
}
.dropdown > div:hover {
  background-color: rgb(65, 160, 219);
}
.hide {
  display: none;
}
#main {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.btn {
  background-color: white;
  margin: 2rem;
  padding: 2rem;
  font-size: 3.8rem;
  font-family: 'Londrina Solid Light', cursive;
  border-radius: .5rem;
  border: 3px solid rgba(108, 108, 108, 0.239);
  box-shadow: 2px 2px 3px rgba(0,0,0, .1);
  transition: all .1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn a {
  font-size: .8em;
  padding-top: 1em;
}
.btn:hover{
  box-shadow: 0px 2px 3px rgba(0,0,0, .3);
  cursor: pointer;
}
.btn:active{
  box-shadow: inset 2px 2px 3px rgba(0,0,0,.3)
}

#footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  padding: .5em;
  font-size: 5rem;
  bottom: 0;
  right: 0;

}
#footer div {
  margin: .5rem;
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
}
#footer svg {
  width: 6.25rem;
}

#shuffle{
  background-color: forestgreen;
}
#info {
  background-color: rgb(0, 159, 255)
}
#content {
  display: flex;
}
.info-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.24);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
#info-box {
  position: relative;
  background-color: white;
  max-width: 80%;
  padding: 3rem;
  font-size: 2.8rem;
  font-weight: 300;
  animation: slideFromLeft ease-out .6s;
}
#info-header{
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#info-header svg {
  width: 4rem;
  cursor: pointer;
}
#bdt-icons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#bdt-icons svg{
  width: 5rem;
}

.show-info {
  display:flex;
}

p {
  text-indent: 10%;
  padding-bottom: .5rem;
  max-width: 500px;
}

@keyframes unfurl {
  from {
    clip-path: inset(0 0 85% 0)
  }
  to {
    clip-path: inset(0 0 0 0)
  }
 }
 @keyframes slideFromLeft {
  0% {left: -100%}
  90%{left: 2%}
  100%{left: 0}
 }

@media (min-width: 800px) {
  html {
    font-size: 12px;
  }
  #header {
    padding: 1rem 2.5rem;
    height: 11rem;
  } 
  #content {
    height: calc(100vh - 11rem);
  }

  #navbar {
    padding: .5rem 0;
    width: 65vw;
  }
  .nav-item {
    width: 95%;
    z-index: 1;
    display: flex;
    padding: .5rem;
    flex-direction: row;
    font-size: 2.4rem;
    animation: unset;
    position: unset;
    flex-wrap: wrap;
  }
  .nav-item > div {
    display: flex;
    align-items: center;
    width: 25%;
    padding: 0.5rem .9rem;
    border-radius: 1rem;
    justify-content: center;
  }
  .navitem > div:hover {
    background-color: rgb(65, 160, 219);
  }

  .nav-item svg {
    width: 1.5rem;
  }



  #main {
    align-items: center;
  }
  .btn {
    font-size: 2.5rem;
    margin: 2rem;
    padding: 2rem;
  }
  #footer svg {
    width: 4rem;
  }

  #info-box {
    font-size: 2rem;
  }
  #footer {
    justify-content: end;
    width: unset;
  }
  .info-menu {
    position: relative;
    top: unset;
    left: unset;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
    height: unset;
    border-right: 2px solid gray;
    background-color: unset;
  }
  #info-box {
    position: relative;
    background-color: white;
    max-width: unset;
    padding: 3rem 3rem;
    font-size: 1.8rem;
    font-family: 'Londrina Solid Light', cursive;
    animation: unset;
  }
  #footer div:first-child {
      display: none;  
    }

  #info-header svg {
    display: none;
  }
  #bdt-icons svg {
    width: 3rem;
  }
  #right-panel {
    width: 65%;
  }
  #typeMenu {
    display: none;
  }
}